<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <style>
      .message {
        font-size: 1.3em;
        font-weight: bold;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>ng-repeat</title>
  </head>
  <body ng-app="CounterApp">
    <div class="container" ng-controller="CounterController">
      <h1>The Digest Cycle</h1>

      <div class="form-group">
        <input type="text" placeholder="Input text..." class="form-control" ng-model="inputText" />
      </div>

      <div class="form-group">
        <button class="btn btn-default" ng-click="showNumberOfWatchers()">Log # of Watchers</button>
      </div>

      <div class="form-group">
        <button class="btn btn-default" ng-click="countOnce()">Up Once Counter (once)</button>
      </div>

      <div class="form-group">
        <button class="btn btn-default" ng-click="upCounter()">Increment Counter</button>
      </div>

      <div class="form-group message">
        Once counter: {{ onceCounter }} <br />
        Regular counter: {{ counter }}
      </div>
    </div>
  </body>
</html>
