<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <style>
      .message {
        font-size: 1.3em;
        font-weight: bold;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
  </head>
  <body ng-app="LunchCheckApp">
    <div class="container" ng-controller="LunchCheckController">
      <h1>Lunch Checker</h1>

      <div class="form-group">
        <input
          id="lunch-menu"
          type="text"
          placeholder="list comma separated dishes you usually have for lunch"
          class="form-control"
          ng-model="lunchString"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-default" ng-click="onCheckIfTooMuchClicked()">Check If Too Much</button>
      </div>
      <div class="form-group message {{ textColorClass }}">
        {{ message }}
        <br />
        Lunch cost: {{ lunchCost | currency: USD:3 }}
      </div>
    </div>
  </body>
</html>
